section {
  position: relative;
  border-radius: 0.5rem;
  margin: 1rem auto;
  background-color: rgb(246, 248, 250);
  overflow: hidden;

  i {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    text-align: center;
  }
}
